@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
.estate-page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: -10;
    background-image: linear-gradient(to right, rgb(247, 107, 107) , rgb(247, 191, 191));
    /* position: cover; */
    margin-bottom: 0;
}
.backvideo{
    position: fixed;
    z-index:-1;
    width: 100%;
    height: 100%;
}
.estate-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 10px solid rgba(255, 0, 0, 0.3);box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.5) 0px 0px 0px 1px;
    width: 500px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: white;
}
.admin-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 10px solid rgba(255, 0, 0, 0.3);box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.5) 0px 0px 0px 1px;
    width: 500px;
    height: 200px;
    border-radius: 30px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: white;
}
.edit-btn{
    cursor: pointer;
    position: absolute;
    top: 5%;
    left:90%;
    padding-top: 5px;
    font-size: 20px;
    border: 5px rgb(255, 0, 0) dotted;
    border-radius: 50px;
}
.delete-btn{
    cursor: pointer;
    position: absolute;
    top: 30%;
    left: 90%;
    padding-top: 5px;
    font-size: 18px;
    border: 5px rgb(255, 0, 0) dotted;
    border-radius: 50px;
}
.edit-btn:hover, .delete-btn:hover{
    background-color: pink;
    color: aliceblue;
    border: none;
    transform: scale(1.5);
    
}
.estate-div:hover,.admin-div:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.estate-img{
    position: absolute;
    left:10%;
    height: 150px;
    width: 140px;
    padding-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.estate-name{
    top: 20%;
    position: absolute;
    margin-left: 150px;
    font-size: 25px;
    padding-bottom: 2px;
    font-family: 'Source Serif Pro', serif;
}
.estate-rate{
    position: absolute;
    top:43%;
    margin-left: 150px;
    font-size: 19px;
    padding-bottom: 6px;
    font-family: 'Source Serif Pro', serif;
}
.estate-location{
    margin-left: 170px;
    background-color: rgb(211, 126, 126);
    position: absolute;
    top:70%;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    letter-spacing: 0.75px;
    
}
.addpage-link{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.addpage-linkbtn{
    position: absolute;
    display: flex;
    cursor: pointer;
    background-color: pink;
    border-color:100px rgb(183, 9, 9);
    border-radius: 10px;
    color:black;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    transition: 0.1s;
    margin: 4px 2px;
    transition: 0.1s;
    top:3%;
    left:62%;
    
}
.addpage-link:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#select-entries{
    border-radius: 20px;
    width: 40px;
    font-size: 15px;
  }
  #Entries-text{
    font-weight: bold;
    font-size: 20px;
    color: #000000;
  }
  .entries-per-page {
    display: flex;
    align-items: center;
  }
  
  .entries-per-page span {
    margin-right: 13px;
    font-weight: bold;
    font-style: italic;
  }
  
  .entries-per-page select {
    padding: 4px;
    border-radius: 4px;
    background-color: pink ;
  }
  .pagination-container {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }